body {
    background: #212121;
}

/* Screen 1 "Display all shows" */
.AllShows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.AllShows p {
    color: aliceblue;
}

.card {
    margin: 1rem;
    width: 16rem;
    height: 30rem;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
        -15px -15px 30px rgb(60, 60, 60);
}

.card-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-details img {
    width: 12rem;
}

.card-details .name {
    font-weight: bold;
    margin: 2px;
}

.language-genres {
    width: 16rem;
    display: flex;
    justify-content: space-between;
}

.rating-premier {
    text-align: left;
    width: 16rem;
}

.rating-premier p {
    margin: 0;
}

.name a {
    text-decoration: none;
    color: yellow;
    font-weight: bold;
    font-size: 1.2rem;
}

.name a:hover {
    color: rgb(207, 207, 3);
}

.details a {
    text-decoration: none;
    color: yellow;
    font-weight: 200;
    font-size: 1.5rem;
}

.details a:hover {
    color: rgb(207, 207, 3);
}

.details-btn {
    margin: 1rem
}

/* Screen 2 "Details of a show" */

.show {
    display: grid;
    padding: 1rem;
    margin: 1rem;
    border-radius: 3rem;
    border: 1px solid white;
    grid-template-columns: 1fr 1fr;
}

.show img {
    width: 20rem;
}

.show-name {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.summary {
    margin-top: 1rem;
}

.show-details {
    color: aliceblue;
}

.innerdiv {
    display: flex;
    justify-content: space-around;
}

/* FormComponent */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    color: white;
    position: relative;
    background-color: #333232;
    padding: 1rem;
    border-radius: 1rem;
    width: 25rem;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

form {
    margin-top: 20px;
}

input {
    color: #000;
    background: white;
    width: 50%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
}

form button {
    padding: 0.2rem;
    width: 5rem;
    border-radius: 0.5em;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button+button {
    margin-left: 10px;
}

form p {
    font-weight: 700;
    margin: 0.5rem;
}

.name {
    font-size: large;
}